<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>slime-idle (1)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{23,15}}</string>
        <key>offset</key>
        <string>{-1.5,-22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,45},{23,15}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>slime-idle (2)</key>
      <dict>
        <key>frame</key>
        <string>{{23,0},{23,15}}</string>
        <key>offset</key>
        <string>{-1.5,-22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,45},{23,15}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>slime-idle (3)</key>
      <dict>
        <key>frame</key>
        <string>{{46,0},{23,15}}</string>
        <key>offset</key>
        <string>{-1.5,-22.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,45},{23,15}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>slime-idle.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>slime-idle</string>
    </dict>
  </dict>
</plist>
