<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>slime-idle (8)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{24,16}}</string>
        <key>offset</key>
        <string>{-1,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,48},{24,16}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>slime-idle (1)</key>
      <dict>
        <key>frame</key>
        <string>{{24,0},{23.5,16}}</string>
        <key>offset</key>
        <string>{-1.25,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,48},{23.5,16}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>slime-idle (2)</key>
      <dict>
        <key>frame</key>
        <string>{{47.5,0},{23.5,16}}</string>
        <key>offset</key>
        <string>{-1.25,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,48},{23.5,16}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>slime-idle (3)</key>
      <dict>
        <key>frame</key>
        <string>{{71,0},{23.5,16}}</string>
        <key>offset</key>
        <string>{-1.25,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,48},{23.5,16}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>slime-idle (4)</key>
      <dict>
        <key>frame</key>
        <string>{{94.5,0},{23.5,16}}</string>
        <key>offset</key>
        <string>{-1.25,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,48},{23.5,16}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>slime-idle (5)</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{23.5,16}}</string>
        <key>offset</key>
        <string>{-1.25,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,48},{23.5,16}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>slime-idle (6)</key>
      <dict>
        <key>frame</key>
        <string>{{141.5,0},{23.5,16}}</string>
        <key>offset</key>
        <string>{-1.25,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,48},{23.5,16}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>slime-idle (7)</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{23.5,16}}</string>
        <key>offset</key>
        <string>{-1.25,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{19,48},{23.5,16}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>slime-idle.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>slime-idle</string>
    </dict>
  </dict>
</plist>
