<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>slime-attack (3)</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{32,16}}</string>
        <key>offset</key>
        <string>{2,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,44},{32,16}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>slime-attack (4)</key>
      <dict>
        <key>frame</key>
        <string>{{32,0},{31,16}}</string>
        <key>offset</key>
        <string>{2.5,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,44},{31,16}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>slime-attack (2)</key>
      <dict>
        <key>frame</key>
        <string>{{63,0},{27,16}}</string>
        <key>offset</key>
        <string>{-2.5,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{14,44},{27,16}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>slime-attack (5)</key>
      <dict>
        <key>frame</key>
        <string>{{90,0},{27,16}}</string>
        <key>offset</key>
        <string>{-0.5,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{16,44},{27,16}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>slime-attack (1)</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{26,16}}</string>
        <key>offset</key>
        <string>{0,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{17,44},{26,16}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>slime-attack.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>slime-attack</string>
    </dict>
  </dict>
</plist>
